.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1E90FF;
  padding: 1.0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #1E90FF;
  width: 100%;
  color: white;
  position : fixed;
  bottom: 0px;
}

.footer-ul {
  margin: 0px;
  padding: 10px;
}
.footer-menu {
  list-style: none;
  display: inline-block;
  width: 25%;
  font-size: 0.3em;
}

.footer-menu-li {
  display: block;
}

.App-image {
  height: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
